<?xml version="1.0" encoding="utf-8"?>

<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  http://go.microsoft.com/fwlink/?LinkId=152368
  -->

<configuration>
  <appSettings>
    <add key="AdoptPet" value="PetCare.SQLServerDAL" />
    <add key="KnowledgePet" value="PetCare.SQLServerDAL" />
    <add key="MailServer" value="smtp.163.com"/>
    <add key="MailUsername" value="petcareweb"/>
    <add key="MailPassword" value="petcareweb123"/>
    <add key="MailFrom" value="mail address"/>
    <add key="ArticleBreviaryNum" value="30"/>
    <add key="AriticleAllNum" value="65534"/>


    <!-- Enable data caching -->
    <add key="EnableCaching" value="true"/>
    <!-- Cache duration (in hours-whole number only) -->
    <add key="CategoryCacheDuration" value="12"/>
    <add key="ProductCacheDuration" value="12"/>
    <add key="ItemCacheDuration" value="12"/>
    <!-- Cache dependency options. Possible values: PetShop.TableCacheDependency for SQL Server and keep empty for ORACLE -->
    <add key="CacheDependencyAssembly" value="PetCare.TableCacheDependency"/>
    <!-- CacheDatabaseName should match the name under caching section, when using TableCacheDependency -->
    <add key="CacheDatabaseName" value="PETCAREDB"/>
  </appSettings>
  <connectionStrings>
    <add name="SQLConnString1" connectionString="Server=KEVIN-PC;Initial Catalog=PETCAREDB;User ID=kevin;Password=110219;TimeOut=200"/>
  </connectionStrings>
  
  <system.web>
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Web.Abstractions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Routing, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Mvc, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
      </assemblies>
    </compilation>

    <authentication mode="Forms">
      <forms loginUrl="~/Account/LogOn" timeout="2880" />
    </authentication>

    <pages>
      <namespaces>
        <add namespace="System.Web.Mvc" />
        <add namespace="System.Web.Mvc.Ajax" />
        <add namespace="System.Web.Mvc.Html" />
        <add namespace="System.Web.Routing" />
      </namespaces>
    </pages>
  </system.web>

  <system.webServer>
    <validation validateIntegratedModeConfiguration="false"/>
    <modules runAllManagedModulesForAllRequests="true"/>
  </system.webServer>

  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0" newVersion="2.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>

